<h1>Create a Patient#show page that lists the date and time for each of their appointments and links to the corresponding doctor's show page.</h1>

<h1><%= @patient.name %></h1>

<ul>
<% @patient.appointments.each do |appointment| %>
    <li><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %></li>
    <%= appointment.human_readable_datetime %>
    <br />
<% end %>
</ul>
